<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="icon/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restopedia</title>
</head>
<body>
    <a href="#content" class="skip">skip to content?</a>
    <header class="header">
        <nav class="navbar">  
            <a href="/" class="logo">Restopedia</a>
            <div class="hamburger">
                <button class="button" id="button" aria-label="navigation-menu">☰</button>
            </div>
            <div class="list" id="list">
                <ul class="menunavbar" id="menunavbar">
                    <li class="listmenu item" ><a href="/" class="link">Home</a></li>
                    <li class="listmenu item"><a href="#/favorite" class="link">Favorite</a></li>
                    <li class="listmenu item"><a href="https://github.com/ndkvin" class="link" target="_blank" rel="noreferrer">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="maincontent" id="maincontent"></main>
    <footer>Copyright &copy 2021 - Restopedia</footer>
</body>
</html>